<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.hypeapp.wykopolka">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.SignInActivity"
            android:label="@string/title_activity_sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.WelcomeActivity"
            android:label="@string/title_activity_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.FaqActivity"
            android:label="@string/title_activity_faq">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.DashboardActivity"
            android:label="@string/title_activity_dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.SearchBookActivity"
            android:label="@string/title_activity_search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.RandomBookActivity"
            android:label="@string/title_activity_random_book">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.BookPanelActivity"
            android:label="@string/title_activity_book_panel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="pl.hypeapp.wykopolka.ui.activity.BookActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.ProfileSettingsActivity"
            android:label="@string/title_activity_profile_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.StatsAndTopUsersActivity"
            android:label="@string/title_activity_stats_and_top_users">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.AddBookActivity"
            android:label="@string/title_activity_add_book">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.wykopolka.ui.activity.EditBookActivity"
            android:label="@string/title_activity_edit_book">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name="pl.hypeapp.wykopolka.provider.FileContentProvider"
            android:authorities="pl.hypeapp.wykopolka"
            android:enabled="true"
            android:exported="true"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5bc98c849513033bcb122881a00e175ef4a7ab67"/>

    </application>

</manifest>